<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hypering.greenvpncrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <!-- 模块描述 -->

        <meta-data
            android:name="xposeddescription"
            android:value="greenvpn,天行，uuu vpn破解插件" />

        <!-- 最低版本号 -->

        <meta-data
            android:name="xposedminversion"
            android:value="32" />

    </application>

</manifest>
